<app-servers></app-servers>
<app-alerts></app-alerts>
<br>
<app-display-details></app-display-details>
<hr>
<hr>
<app-cockpit (serverCreated) = "onAddServer($event)" (blueprintCreated) = "onAddServerBlueprint($event)"></app-cockpit>
<app-server-details *ngFor="let server of servers" [srvElement]="server">
    <p>{{server.name}}</p>
    <strong *ngIf="server.type === 'Server'">{{server.content}}</strong>
    <em *ngIf="server.type === 'Server Blueprint'">{{server.content}}</em>
</app-server-details>
<app-game-control (gameStart) = 'onGameStart($event)'></app-game-control>
<app-even *ngIf="gameCounter%2===0; else odd" [gameCounter] = 'gameCounter'></app-even>
<ng-template #odd>
<app-odd [gameCounter] = 'gameCounter'></app-odd>
<p appBasicHighlight>Basic highlight works!!</p>
<p appBetterHighlight defaultColor="yellow" highlightColor="red">Better highlight works!!</p>
</ng-template>
